:root {
  --primary-color: #2ba187;
  --secondary-color: #1e675a;
  --background-color: #d3f4e9;
  --container-background: #a6e9d5;
  --button-background: #61d1b3;
  --button-hover: #45bca0;
  --text-color: #1b463e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  background-color: var(--container-background);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(28, 83, 73, 0.5);
  max-width: 100%;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1 {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

p {
  color: var(--primary-color);
  font-size: 0.9rem;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--background-color);
  border-radius: 10px;
  outline: none;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 10px 0;
}

::placeholder {
  color: var(--text-color);
}

.size-format-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#qrSize,
#qrFormat {
  width: 48%;
  padding: 10px;
  border: 1px solid var(--background-color);
  border-radius: 10px;
  outline: none;
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--button-background);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  font-size: 1rem;
}

button:hover {
  background-color: var(--button-hover);
}

.download-share-buttons {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#qrCode {
  margin: 20px 20px 5px 20px;
}

#qrCode canvas {
  max-width: 100%;
  height: auto;
}

.footer {
  margin-top: 20px;
  color: var(--secondary-color);
  font-size: 0.9rem;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.7rem;
  }

  button {
    font-size: 0.9rem;
  }

  .container {
    max-width: 90%;
    padding: 15px;
  }

  #qrSize,
  #qrFormat {
    width: 100%;
  }

  .footer {
    font-size: 0.8rem;
  }
}

@media (max-width: 300px) {
  .size-format-group {
    flex-direction: column;
  }

  .download-share-buttons {
    flex-direction: column;
  }

  #downloadButton,
  #shareButton {
    margin-top: 0;
  }

  #qrCode {
    margin: 20px 20px 15px 20px;
  }
}